@font-face {
    font-family: "Cambria";
    font-display: swap;
    src: url("../fonts/cambriab-webfont.woff") format("woff"), url("../fonts/cambriab-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;

    button {
        cursor: pointer;
        border: 0;
    }

    main {
        background: url(../img/bg.jpg) 0 0 no-repeat;
        width: 980px;
        height: 630px;
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;
    }
}

// Стиль для скролла
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}